/* You can add global styles to this file, and also import other style files */
.full-center {
    justify-content: center;
    align-items: center;
    text-align: center;
}

body {
    background-color: rgb(226, 218, 218);
}